<div class="row mb-3 align_items_bottom">
    <div class="col-md-7">
        <div>
            <span class="promocodespan">
                <small class="text-muted">FILTER</small>
            </span>
        </div>
        <div>
            <input
                   id="txtFilter"
                   type="text"
                   placeholder="Filter"
                   class="form-control-lg w-100"
                   value="" />
        </div>
    </div>

    <div class="col-md-2">
        <button 
                id="btnReset"
                variant="outline-secondary"
                class="w-100 form-control-lg"
                type="submit">
            Reset
        </button>
    </div>
</div>

@code {

}
