/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}*/

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}

body {*/
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;*/ /* Vertically center the text there */
/*}*/












.App {
    text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-logo {
    /* width: 40px;
  height: 100px; */
    position: absolute;
    top: 10px;
    /* border: 3px solid blue; */
}

.sidebar_items_div {
    /* width: 40px;
  height: 100px; */
    position: absolute;
    top: 120px;
    /* border: 3px solid blue; */
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/* form bg color */
.form_bg_color {
    background: #E5E5E5;
}

/* Breadcrumb */
.topbr {
    background: #FFFFFF;
}

.breadcrumb {
    background-color: #000;
    color: #ddd;
    background: #FFFFFF !important;
}

/* Card */

.serviceCard {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E2E5EC;
    box-sizing: border-box;
    border-radius: 6px;
}

/* promocode span */
.promocodespan {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 11px;
}

/* top div */
.top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100px;
    background: #FFFFFF;
}






/* here */

/* align items at the bottom */
.align_items_bottom {
    align-items: flex-end;
}

/* align items at the center */
.align_items_center {
    text-align: center;
}

/* Promo code container */
.promocode_container {
    position: relative;
}

.promoCode_input {
    width: 100%;
    height: 40px;
    /* border-color: grey; */
    /* align-items: center; */
}

.copy_img {
    position: absolute;
    bottom: 15px;
    right: 5px;
    width: 20px;
    height: 20px;
    /* align-items: center; */
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh !important;
    height: 100%;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

#sidebar-wrapper {
    min-height: 100vh !important;
    width: 100vw;
    margin-left: -1rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
    }

#page-content-wrapper {
    min-width: 0;
    width: 100%;
}

.navitem {
    padding-bottom: 40px;
}

